<!DOCTYPE html>
<html>
  <body>
    <div class="all-wrapper menu-side with-pattern">
      <div class="auth-box-w wider">
        <div class="logo-w">
          <a href="index.html"><img alt="" src="img/logo-big.png"></a>
        </div>
        <h4 class="auth-header">
          Create new account
        </h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :mobile %><br />
            <%= f.text_field :mobile, class: "form-control", autofocus: true, autocomplete: "mobile" %>
          </div>

          <div class="field">
            <%= f.label :role %><br />
            <%= f.text_field :role, class: "form-control", autofocus: true, autocomplete: "role" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>
          <br>
          <div class="actions text-center">
            <%= f.submit "Sign up", class:"btn btn-light", style:"background-color: transparent;"%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </body>
</html>
