<p id="notice"><%= notice %></p>

<div class="text-center">
  <div class="btn btn-light btn-outline-dark">
    <%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
  </div>
  |
  <div class="btn btn-light btn-outline-dark">
    <%= link_to 'Back', project_path(@project) %>
  </div>
</div>

<p>
  <strong>Project:</strong>
  <%= @task.project_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Spend time:</strong>
  <%= @task.spend_time %>
</p>

<p>
  <strong>Estimated time:</strong>
  <%= @task.estimated_time %>
</p>
